<head>
    <link rel="stylesheet" href="/css/profile.css">
</head>
<div id="user-main" class="bg-blue-900 h-screen w-full p-12 flex flex-col ">
    <div class="flex flex-row bg-slate-600 p-16" >
        <div class="text-7xl">
            <div>
                <h2 id="nickname">Hello  {{nickname}} ! </h2>
                <button type="button" class="text-white bg-gradient-to-r from-blue-400 via-blue-500 to-blue-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 font-medium rounded-lg text-3xl px-5 py-2.5 text-center me-2 mb-2" id="change-nickname-btn">Modify username</button>
                <form id="nickname-form" style="display: none;" class="text-white bg-gradient-to-r from-blue-400 via-blue-500 to-blue-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 font-medium rounded-lg px-5 py-2.5 text-center me-2 mb-2">
                    <input type="text" id="nickname-input" placeholder="Nickname" class="text-black">
                    <button type="submit">Update</button>
                </form>
            </div>
        </div>
        
    </div>
     <div id="stats-section" class="bg-blue-950 m-10 p-14 text-4xl">
            <div class="stat">
                <h3>Played matches : <h1> {{matchesPlayed}} </h1></h3>
            </div>
            <div class="stat">
                <h3>Victories : </h3><h1>{{victoryCount}}</h1>
            </div>
            <div class="stat">
                <h3>Defeats : </h3><h1 >{{defeatCount}}</h1>
            </div>
            <div class="stat">
                <h3>Your weakpoint(coordenate most hit by opponents) : </h3><h1>{{weakPoint}}</h1>
            </div>
            <div class="stat"> 
                <h3>Your nemesis (most times defeated by) : </h3><h1>{{nemesis}}</h1>
            </div>
            <div class="stat">
                <h3>Average hits by match : </h3><h1>{{avgHitsPerMatch}}</h1>
            </div>
            <div class="stat">
                <h3>Average failures by match : </h3><h1>{{avgFailuresPerMatch}}</h1>
            </div>
            <div class="stat">
                <h3>Average failures before first hit : </h3><h1>{{avgFailuresBeforeFirstHit}}</h1>
        </div>
    </div>
</div>


<script src="/js/profile.js"></script>